<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Origin Weather App Laumer</title>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->

<!-- inject:css -->
<link rel="stylesheet" href="/app/style/styles.css">
<!-- endinject -->
</head>

<body ng-controller="mainController as vm">
	<div class="backdrop">
		<div class="container">
			<div class="jumbotron"> 
				<h1>Jeff's Weather Application</h1>
				<p>*Always know if you'll need an umbrella!</p>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary" ng-click="vm.showWeather('San Diego')">San Diego</button>
					<button type="button" class="btn btn-primary" ng-click="vm.showWeather('14750')">Lakewood, NY</button>
					<button type="button" class="btn btn-primary" ng-click="vm.showWeather('Washington DC')">Washington DC</button>
					<button type="button" class="btn btn-primary" ng-click="vm.showWeather('London')">London</button>
					<button type="button" class="btn btn-primary" ng-click="vm.showWeather('Tokyo')">Tokyo</button>
				</div>
				
				<div class="row">
					<div class="col-lg-12">
			    		<div class="input-group">
			      			<input type="text" class="form-control" ng-model="vm.placeInput" placeholder="Choose a city">
					      <span class="input-group-btn">
					      	<button class="btn btn-secondary" type="button" ng-click="vm.showWeather(vm.placeInput)">Go!</button>
					      </span>
			    		</div>
			  		</div>
				</div>
				
				<div class="row">	
					<div class="col-xs-6">
						<div class="panel panel-info">
							<div class="panel-heading">City Information</div>
								<!-- <div class="panel-body"> -->
									
								<div class="panel-body" ng-hide="vm.name === ''">
							
									<h2 class="text-center"><img ng-src='http://openweathermap.org/img/w/{{vm.icon}}.png' height="100" width="100"> {{vm.name}} </h2>
									<h4 class="text-center">{{vm.desc}}</h4>
									
									<h6 class="text-center">Lat/Long: {{vm.lat}}, {{vm.long}}</h6>

									<legend></legend>

										<div class="col-xs-12">
											<div class="col-xs-4 text-center"><h5><strong>Temperature</strong></h5></div>
											<div class="col-xs-4 text-center"><h5><strong>Pressure</strong></h5></div>
											<div class="col-xs-4 text-center"><h5><strong>Humidity</strong></h5></div>							
											<div class="col-xs-4 text-center"><h5 style="color:green;">{{vm.temp}}°F</h5></div>
						                    <div class="col-xs-4 text-center"><h5 style="color:green;">{{vm.pressure * 0.02953 | number : 1}} inHg</h5></div>
						                    <div class="col-xs-4 text-center"><h5 style="color:green;">{{vm.humid}}%</h5></div>

						                    <div class="col-xs-4 text-center"><h5><strong>Lowest Temp</strong></h5></div>
											<div class="col-xs-4 text-center"><h5><strong>Highest Temp</strong></h5></div>
											<div class="col-xs-4 text-center"><h5><strong>Wind Speed</strong></h5></div>							
											<div class="col-xs-4 text-center"><h5 style="color:green;">{{vm.low}}°F</h5></div>
						                    <div class="col-xs-4 text-center"><h5 style="color:green;">{{vm.high}}°F</h5></div>
						                    <div class="col-xs-4 text-center"><h5 style="color:green;">{{vm.speed}} mph</h5></div>
						                </div>
								</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="panel panel-info">
							<div class="panel-heading">Search History</div>
								<div class="panel-body" ng-hide="vm.name === ''">
									    
									<table class="table table-striped">
			    					        
								        <tbody>
								            <tr ng-repeat="SearchHistory in vm.SearchHistory">								  
								                
								                <td>{{SearchHistory.name}}</td>
								                <td class="text-right">{{SearchHistory.timestamp | date:'MMMM d yyyy H:mm'}} PST</td>
								                
								            </tr>
								        </tbody>

								    </table>
								</div>
						</div>
					</div>
				</div>
			</div>
			

		</div>
	</div>



<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/app/app.js"></script>
<script src="/app/controller.js"></script>
<script src="/app/factory.js"></script>
<!-- endinject -->
</body>
</html>



<!-- Make use of the following AngularJS features to build this application.

Create a factory and inject a $http service to be used for calling the OpenWeatherMap API. (Remember, separation of concerns!)

Create a controller and inject the factory you created above. Figure out the code you'll need to write to facilitate the given requirements.

Add an error handler function to both factory and controller.

Implement toastr messaging to report success and error messaging to the end user. -->